<!-- <div class="row row-cols-1 row-cols-md-1 g-10">
  <div class="col-sm-9" *ngFor="let product of data; let i = index">
    <div class="card">
      <span class="col-4 m-auto" *ngFor="let image of product.fields.image; let i = index">
        <img src="{{ image.url }}" class="card-img"  />
      </span>
      <div class="card-body col-8">
        <h5 class="card-title">{{ product.fields.name }}</h5>
        <p class="card-text">{{ product.fields.description }}</p>
        <p class="card-text">Rs. {{ product.fields.price }}</p>
        
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" (click)="reduceQty(i, product)" ng-init="count=0" type="button" id="reduce-button-{{ i }}">-</button>
          <input type="text" value=0 class="form-control" id="qty-{{ i }}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
          <button class="btn btn-outline-secondary" type="button" (click)="increaseQty(i, product)" id="add-button-{{ i }}">+</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row container">
  <div class="col-12 col-md-4 card" *ngFor="let product of data; let i = index">
    <div class="col-3 col-md-2" *ngFor="let image of product.fields.image; let i = index">
      <img src="{{ image.url }}" class="card-img" />
    </div>
    <div class="card-body col-8">

      <b class="card-title">{{ product.fields.name }}</b>
      <p class="card-text">{{ product.fields.description }}</p>
      <div class="row col-12">
        <div class="col-4">
          Rs. {{ product.fields.price }}
        </div>
        <div class=" col-8">
        <div class="input-group">
          <button class="btn btn-outline-secondary" (click)="reduceQty(i, product)" ng-init="count=0" type="button"
            id="reduce-button-{{ i }}">-</button>
          <input type="text" value=0 class="form-control" id="qty-{{ i }}" placeholder=""
            aria-label="Example text with button addon" aria-describedby="button-addon1">
          <button class="btn btn-outline-secondary" type="button" (click)="increaseQty(i, product)"
            id="add-button-{{ i }}">+</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>